.loader {
  background: #c7c6c2;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

.loader-spinner {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
